/*
 * lolbot CSS by tilda
 * License:
 * This code is owned by tilda.
 * You are allowed to copy it, but you must give credit.
 * Special thanks to: PatchBot, UIGradients, myself.
 *
 */
@import url("https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css");
/* @import url("https://lb-assets-cdn.netlify.com/ad-blocker.css"); */
.longdescription .content {
  padding: 4%;
  background-size: cover;
  box-shadow: -3px 4px 90px 20px rgba(61, 73, 102, 0.32);
  border-radius: 42px;
  /* color: rgb(255, 255, 255); */
  margin-top: 44px;
}
/* go away */
#botprofiletitle, #botprofileicon { display: none; }
/* fuck off wit yo ugly ass white bg */
.columns .bot-img { border: none !important;box-shadow: none !important;background: transparent !important; }
/* needed to fix alert for support */
a.alert-link:link, a.alert-link:visited {
  color: white;
}
#bot-details-page #details .container {
  border: none !important;
}
/* let me see my damn desc pls */
p.bot-description { color: white; }

.atag { background-color: #23272a !important;color: white !important; }

.bg-gradient-quepal {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Following snippet is copied from Welcomer's bot page. Thanks Im Rock#3779! */
html { background-color: #212530 !important; }
.column { margin: auto !important; }
.lib { color: #ffffff !important; }
.bot-name { color: #ffffff !important; }
.longdescription { border: none !important;color: #2c2f33 !important; }

/* added by me lol */
#bot-stats, #bot-prefix, #botprefix { background-color: white !important; }

.bot-img img { animation: anispin 2s infinite;animation-timing-function: linear;border-radius: 50%; }
.bot-img:hover img { animation: anispin-reverse 1.5s ease-in-out; } 
@keyframes anispin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); } 
  } 
@keyframes anispin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  to { 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg); } 
  }
.donate:after {
  content: "- see ^donate for details";
}
